<div id="header"><a href="index"><img src="/assets/spacer.gif" alt="Complementary Healing Arts"  width="379" height="100" border="0" align="left"/></a>

<div id="smoothmenu1" class="ddsmoothmenu">
    <ul >

     <li><a href="/pages/Mind" >Mind</a></li>
      <li> <a href ='/pages/Body' >Body</a>  </li>
          
      <li><a href="/pages/Spirit" >Spirit</a></li>
      
      <li><a href="#">Energy Healing</a>
        <ul >
         <li><a href='/pages/EmotionalFreedomTechnique' >Emotional Freedom Technique</a></li>
        <li><a href='/pages/FlowerEssenceTherapy'>Flower Essence Therapy</a></li>
        <li><a href='/pages/CranioSacralTherapy'>CranioSacral Therapy-CST</a></li>
          <li><a href='/pages/HouseClearingHouseBlessing'>House clearing</a></li>
        </ul></li>
       
       <li><a href="#">Ministry</a>
        <ul >
          <li><a href='/pages/Weddings'>Weddings</a></li>
          <li><a href='/pages/Memorials'>Funerals & memorials</a></li>
          <li><a href='/pages/Baptisms'>Baptisms & baby blessings</a></li>
        </ul></li>
       
       <li><a href="/pages/Testimonials" >Testimonials</a></li>
       <li><a href="/pages/AboutNancyLindgren">About</a></li>
    </ul>
  </div>
<!-- end navigation -->
</div> <!-- end of header-->
