<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/HealingArts.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Minneapolis, Healing, Alternative Medicine - Nancy Lindgren - Complimentary
Healing Arts</title>
<!-- InstanceEndEditable -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Page').hide().fadeIn(3000);
    });
</script>

<link href="styles/HealingArtsStyles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="styles/ddsmoothmenu.css" />
<script type="text/javascript" src="js/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "smoothmenu1", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})



</script>

<style type="text/css"></style>
<!-- InstanceBeginEditable name="head" -->
<style type="text/css">
div#Page { background-image:url(images/RockPath.jpg);}
</style><!-- InstanceEndEditable -->
</head>

<body >
<div id="page-wrap">
<div id="Page" >
<div id="header"><a href="./index.html"><img src="images/spacer.gif" alt="Complementary Healing Arts"  width="379" height="100" border="0" align="left"/></a>
<div id="smoothmenu1" class="ddsmoothmenu">
		<ul >
    	<li><a href='Body.html' >Body</a></li>
        
        <li><a href="Mind.html" >Mind</a></li>
         
         <li><a href="Spirit.html" >Spirit</a></li>
      
      <li><a href="#">Energy Healing</a>
        <ul >
       	 <li><a href='EmotionalFreedomTechnique.html' >Emotional Freedom Technique</a></li>
   		  <li><a href='FlowerEssenceTherapy.html'>Flower Essence Therapy</a></li>
   		  <li><a href='CranioSacralTherapy.html'>CranioSacral Therapy-CST</a></li>
          <li><a href='HouseClearingHouseBlessing.html'>House clearing</a></li>
        </ul></li>
       
       <li><a href="#">Ministry</a>
       	<ul >
       		<li><a href='Weddings.html'>Weddings</a></li>
          <li><a href='Memorials.html'>Funerals & memorials</a></li>
          <li><a href='Baptisms.html'>Baptisms & baby blessings</a></li>
       	</ul></li>
       
       <li><a href="Testimonials.html" >Testimonials</a></li>
       <li><a href="AboutNancyLindgren.html">About</a></li>
    </ul>
  </div>
<!-- end navigation -->
</div><!-- end header --> 
<div id="Content">

<!-- InstanceBeginEditable name="Content" -->


   <div class="content" style="width:367px; left:531px; top:65px;">
     <p align="right"><strong><img src="images/baptism.png" width="250" height="167" /></strong></p>
     <div class="cushycms"><p align="left" class="titles">Baptisms &amp; baby
       blessings</p>
     <p>A child entering your
       life as a new member of your family is an exciting and sacred time. Whether
       by birth or adoption, this is a time to honor and celebrate such a blessing.
       Non-denominational, interfaith, and secular ceremonies witness and honor
       the role that parents, siblings, grandparents, godparents, friends and/or
       extended family will play in this new baby or child’s life, establishing
       a foundation for a rich and meaningful life.</p>
     <p>I work with you in a fun and caring mvanner to create and officiate at
       your baby’s unique celebration as you honor, celebrate and welcome your
       child into your family.</p></div><!--end cms -->
   </div>
   <div class="content" style="width:200px; left:41px; top:295px;"><img src="images/RevNancy.png" /></div>

<!-- InstanceEndEditable --></div>

</div><!--end Content  div-->
<div id="contactinfo">Contact Nancy at the Lyn-Lake Building, 621 West Lake Street # 209 Minneapolis, MN 55408 &middot; 612-868-2160</div>

   </div><!-- end page wrap -->
  

</body>
<!-- InstanceEnd --></html>