<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/HealingArts.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Minneapolis, Healing, Alternative Medicine - Nancy Lindgren - Complimentary
Healing Arts</title>
<!-- InstanceEndEditable -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Page').hide().fadeIn(3000);
    });
</script>

<link href="/assets/HealingArtsStyles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/assets/ddsmoothmenu.css" />
<script type="text/javascript" src="/assets/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "smoothmenu1", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})



</script>

<style type="text/css"></style>
<!-- InstanceBeginEditable name="head" -->
<style type="text/css">
div#Page { background-image:url(/assets/Koi.jpg);}
</style>
<!-- InstanceEndEditable -->
</head>

<body >
<div id="page-wrap">
<div id="Page" >

<%= render "menu" %>

<div id="Content">

<!-- InstanceBeginEditable name="Content" -->

  <div class="cushycms"><div class="content" style="width:450px; left:40px; top:99px"> <p class="titles">Body</p>
    <p>Whether it’s the small, nagging aches and pains or more significant dis-ease, energy healing can assist the body in releasing pain and distortion patterns&#8211; bringing relief to that which is creating discomfort. </p>
    <p>Nancy Lindgren uses various energy work techniques to bring her clients into
      a deep relaxed state where healing can occur. As an intuitive she can sense
      into the body, enhancing healthy tissue and directing healing energy into the
      areas that are depleted. </p>
    </div>
    <div class="content" style="width:300px; left:40px; top:375px;">Energy healing has been used for thousands of years to aid the healing of virtually every known illness and injury. Hospital and clinics around the country are adopting these practices as meaningful and cost-effective ways to improve patient health care. Studies have also shown that patients receiving energy healings not only recover significantly faster, they also experience much less pain, improving both patient care and reducing medical costs. 
    </div>


<!-- InstanceEndEditable --></div>
</div><!-- end page wrap -->
</div><!--end Content  div-->
<div id="contactinfo">Contact Nancy at the Lyn-Lake Building, 621 West Lake Street # 209 Minneapolis, MN 55408 &middot; 612-868-2160</div>


</div> <!-- end of page-->

</body>
<!-- InstanceEnd -->
</html>
