<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/HealingArts.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>CranioSacral Therapy, Minneapolis, Healing, Alternative Medicine - Nancy Lindgren - Complimentary
Healing Arts</title>
<!-- InstanceEndEditable -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Page').hide().fadeIn(3000);
    });
</script>

<link href="styles/HealingArtsStyles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="styles/ddsmoothmenu.css" />
<script type="text/javascript" src="js/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "smoothmenu1", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})



</script>

<style type="text/css"></style>
<!-- InstanceBeginEditable name="head" -->
<style type="text/css">
div#Page { background-image:url(images/zenRocks.jpg);}
</style>
<!-- InstanceEndEditable -->
</head>

<body >
<div id="page-wrap">
<div id="Page" >
<div id="header"><a href="./index.html"><img src="images/spacer.gif" alt="Complementary Healing Arts"  width="379" height="100" border="0" align="left"/></a>
<div id="smoothmenu1" class="ddsmoothmenu">
		<ul >
    	<li><a href='Body.html' >Body</a></li>
        
        <li><a href="Mind.html" >Mind</a></li>
         
         <li><a href="Spirit.html" >Spirit</a></li>
      
      <li><a href="#">Energy Healing</a>
        <ul >
       	 <li><a href='EmotionalFreedomTechnique.html' >Emotional Freedom Technique</a></li>
   		  <li><a href='FlowerEssenceTherapy.html'>Flower Essence Therapy</a></li>
   		  <li><a href='CranioSacralTherapy.html'>CranioSacral Therapy-CST</a></li>
          <li><a href='HouseClearingHouseBlessing.html'>House clearing</a></li>
        </ul></li>
       
       <li><a href="#">Ministry</a>
       	<ul >
       		<li><a href='Weddings.html'>Weddings</a></li>
          <li><a href='Memorials.html'>Funerals & memorials</a></li>
          <li><a href='Baptisms.html'>Baptisms & baby blessings</a></li>
       	</ul></li>
       
       <li><a href="Testimonials.html" >Testimonials</a></li>
       <li><a href="AboutNancyLindgren.html">About</a></li>
    </ul>
  </div>
<!-- end navigation -->
</div><!-- end header --> 
<div id="Content">

<!-- InstanceBeginEditable name="Content" -->

 <div class="content" style="width:500px; left:400px; top:90px">
       <img src="images/cranioSacroTherapy.png" width="121" height="465" align="right" /><div class="cushycms"><p class="titles"><strong>CranioSacral Therapy</strong> </p>
   <p>CST was pioneered and developed by osteopathic physician John Upledger.<br />
         <br />
         CST is a gentle, hands-on method of evaluating and enhancing the functioning
         of a physiological body system called the craniosacral system - comprised
         of the membranes and cerebrospinal fluid that surround and protect the
         brain and spinal cord. <br />
         <br />
         Using a soft touch generally no greater than 5 grams, or about the weight
         of a nickel, practitioners release restrictions in the craniosacral
         system to improve the functioning of the central nervous system.</p>
       <p>By complementing the body's natural healing processes, CST is increasingly
         used as a preventive health measure for its ability to bolster resistance
         to disease, and is effective for a wide range of medical problems associated
         with pain and dysfunction.</p></div><!--end cms -->
    </div>


<!-- InstanceEndEditable --></div>

</div><!--end Content  div-->
<div id="contactinfo">Contact Nancy at the Lyn-Lake Building, 621 West Lake Street # 209 Minneapolis, MN 55408 &middot; 612-868-2160</div>

   </div><!-- end page wrap -->
  

</body>
<!-- InstanceEnd --></html>