<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Minneapolis, Healing, Alternative Medicine - Nancy Lindgren - Complimentary Healing Arts</title>

<script type="text/javascript" src="scriptaculous/lib/prototype.js"></script>
<script type="text/javascript" src="scriptaculous/src/scriptaculous.js?load=effects"></script>



<link href="styles/HealingArtsStyles.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.greentext {color: #006600}
-->
</style>
</head>

<body>
<div id="page-wrap">
<div id="navigation">
		<ul class="dropdown">
    	<li><a href='#' onclick="$('Home').fade(); $('Body').appear(); $('Mind').fade(); $('Spirit').fade(); $('Weddings').fade(); $('Memorials').fade(); $('Baptisms').fade(); $('EmotFreedom').fade(); $('FlowerEss').fade(); $('CST').fade(); $('House').fade(); $('Medical').fade(); $('Contact').fade(); $('About').fade(); return false;" >Body</a></li>
        
        <li><a href="#" onclick="$('Home').fade(); $('Body').fade(); $('Mind').appear(); $('Spirit').fade(); $('Weddings').fade(); $('Memorials').fade(); $('Baptisms').fade(); $('EmotFreedom').fade(); $('FlowerEss').fade(); $('CST').fade(); $('House').fade(); $('Medical').fade(); $('Contact').fade(); $('About').fade(); return false;" >Mind</a></li>
         
         <li><a href="#" onclick="$('Home').fade(); $('Body').fade(); $('Mind').fade(); $('Spirit').appear(); $('Weddings').fade(); $('Memorials').fade(); $('Baptisms').fade(); $('EmotFreedom').fade(); $('FlowerEss').fade(); $('CST').fade(); $('House').fade(); $('Medical').fade(); $('Contact').fade(); $('About').fade(); return false;">Spirit</a></li>
      
      <li><a href="#">Energy Healing</a>
        <ul class="sub_menu">
       	 <li><a href='#'  onclick="$('Home').fade(); $('Body').fade(); $('Mind').fade(); $('Spirit').fade(); $('Weddings').fade(); $('Memorials').fade(); $('Baptisms').fade(); $('EmotFreedom').appear(); $('FlowerEss').fade(); $('CST').fade(); $('House').fade(); $('Medical').fade(); $('Contact').fade(); $('About').fade(); return false;">Emotional Freedom Technique</a></li>
	   		 <li><a href='#' onclick="$('Home').fade(); $('Body').fade(); $('Mind').fade(); $('Spirit').fade(); $('Weddings').fade(); $('Memorials').fade(); $('Baptisms').fade(); $('EmotFreedom').fade(); $('FlowerEss').appear(); $('CST').fade(); $('House').fade(); $('Medical').fade(); $('Contact').fade(); $('About').fade(); return false;">Flower Essence Therapy</a></li>
	   		 <li><a href='#' onclick="$('Home').fade(); $('Body').fade(); $('Mind').fade(); $('Spirit').fade(); $('Weddings').fade(); $('Memorials').fade(); $('Baptisms').fade(); $('EmotFreedom').fade(); $('FlowerEss').fade(); $('CST').appear(); $('House').fade(); $('Medical').fade(); $('Contact').fade(); $('About').fade(); return false;">CranioSacral Therapy-CST</a></li>
	       <li><a href='#' onclick="$('Home').fade(); $('Body').fade(); $('Mind').fade(); $('Spirit').fade(); $('Weddings').fade(); $('Memorials').fade(); $('Baptisms').fade(); $('EmotFreedom').fade(); $('FlowerEss').fade(); $('CST').fade(); $('House').appear(); $('Medical').fade(); $('Contact').fade(); $('About').fade(); return false;">House clearing</a></li>
        </ul></li>
       
       <li><a href="#">Ministry</a>
       	<ul class="sub_menu">
       		<li><a href='#' onclick="$('Home').fade(); $('Body').fade(); $('Mind').fade(); $('Spirit').fade(); $('Weddings').appear(); $('Memorials').fade(); $('Baptisms').fade(); $('EmotFreedom').fade(); $('FlowerEss').fade(); $('CST').fade(); $('House').fade(); $('Medical').fade(); $('Contact').fade(); $('About').fade(); return false;">Weddings</a></li>
          <li><a href='#' onclick="$('Home').fade(); $('Body').fade(); $('Mind').fade(); $('Spirit').fade(); $('Weddings').fade(); $('Memorials').appear(); $('Baptisms').fade(); $('EmotFreedom').fade(); $('FlowerEss').fade(); $('CST').fade(); $('House').fade(); $('Medical').fade(); $('Contact').fade(); $('About').fade(); return false;">Funerals & memorials</a></li>
          <li><a href='#' onclick="$('Home').fade(); $('Body').fade(); $('Mind').fade(); $('Spirit').fade(); $('Weddings').fade(); $('Memorials').fade(); $('Baptisms').appear(); $('EmotFreedom').fade(); $('FlowerEss').fade(); $('CST').fade(); $('House').fade(); $('Medical').fade(); $('Contact').fade(); $('About').fade(); return false;">Baptisms & baby blessings</a></li>
       	</ul></li>
       
       <li><a href="#" onclick="$('Home').fade(); $('Body').fade(); $('Mind').fade(); $('Spirit').fade(); $('Weddings').fade(); $('Memorials').fade(); $('Baptisms').fade(); $('EmotFreedom').fade(); $('FlowerEss').fade(); $('CST').fade(); $('House').fade(); $('Medical').fade(); $('About').fade(); $('Contact').appear(); return false;">Contact Us</a></li>
       <li><a href="#" onclick="$('About').appear(); $('Home').fade(); $('Body').fade(); $('Mind').fade(); $('Spirit').fade(); $('Weddings').fade(); $('Memorials').fade(); $('Baptisms').fade(); $('EmotFreedom').fade(); $('FlowerEss').fade(); $('CST').fade(); $('House').fade(); $('Medical').fade(); $('Contact').fade(); return false;">About</a></li>
      </ul>
  </div>
<!-- end navigation -->
<div id="header"><img src="images/Header.png" border="0" usemap="#Map" />
<map name="Map" id="Map"><area shape="rect" coords="4,6,396,89" href="#" onclick="$('Home').appear(); $('Body').fade(); $('Mind').fade(); $('Spirit').fade(); $('Weddings').fade(); $('Memorials').fade(); $('Baptisms').fade(); $('EmotFreedom').fade(); $('FlowerEss').fade(); $('CST').fade(); $('House').fade(); $('Medical').fade(); $('Contact').fade(); $('About').fade(); return false;"/></map></div>
<!-- end header -->

<div id="Home" style="background-image:url(images/ToriGate.jpg); background-repeat:no-repeat; height:650px; width:960px; color:#FFFFFF; position:absolute; top: 10px; left:10px; display:block;">
 <div class="content" style="width:722px; left:127px; top:152px;" align="center">
   <p><em>Thank you for visiting my website.</em></p>
   <p>Know that your journey is supported,<br />
     with care &amp; commitment,<br />
     wherever you are on your path …</p>
   <p>&nbsp;</p>
 </div>
<img src="images/Koi.jpg" width="1" height="1" /><img src="images/LotusWater.jpg" width="1" height="1"/><img src="images/RockPath.jpg" width="1" height="1" /><img src="images/waterDrop2.jpg" width="1" height="1" /><img src="images/waterDrops.jpg" width="1" height="1" /><img src="images/zenRocks.jpg" width="1" height="1" /></div>


<div id="Body" style="background-image:url(images/Koi.jpg);  background-repeat:no-repeat; height:650px; width:960px; color:#FFFFFF; position:absolute; top: 10px; left:10px;  ">
 <div class="content" style="width:400px; left:40px;"> <strong>Body</strong>
<p>Whether it’s the small, nagging aches and pains or more significant dis-ease, energy healing can assist the body in releasing pain and distortion patterns&#8211; bringing relief to that which is creating discomfort. </p>
<p>Nancy Lindgren uses various energy work techniques to bring her clients into
  a deep relaxed state where healing can occur. As an intuitive she can sense
  into the body, enhancing healthy tissue and directing healing energy into the
  areas that are depleted. </p>
</div>
<div class="content" style="width:300px; left:40px; top:375px;">Energy healing has been used for thousands of years to aid the healing of virtually every known illness and injury. Hospital and clinics around the country are adopting these practices as meaningful and cost-effective ways to improve patient health care. Studies have also shown that patients receiving energy healings not only recover significantly faster, they also experience much less pain, improving both patient care and reducing medical costs. </div>
</div>


<div id="Mind" style="background-image:url(images/waterDrop2.jpg);  background-repeat:no-repeat; height:650px; width:960px; color:#FFFFFF; position:absolute; top: 10px; left:10px;  ">

   <div class="content" style="width:260px; left:40px; top:120px;">
     <p><strong>Mind</strong></p>
     <p>Nancy is a compassionate listener who believes that we are all powerful
       and truly magnificent beings. For some people, this is difficult to believe,
       especially during times of challenge or strife. </p>
     <p>With her extensive training as a counselor and experience as a minister, she will assist you in better
       understanding yourself and help bring clarity to your issues. </p>
     <p>Nancy empowers you by seeing and acknowledging your authentic gifts.</p>
   </div>
</div>


<div id="Spirit" style="background-image:url(images/LotusWater.jpg);  background-repeat:no-repeat; height:650px; width:960px; color:#FFFFFF; position:absolute; top: 10px; left:10px;  ">

   <div class="content" style="width:260px; left:40px; top:170px;">
     <p><strong>Spirit</strong></p>
     <p>Nancy believes that we are all spiritual beings in this human experience.
       She acknowledges each person as a divinely unique soul. </p>
     <p>Tuning into the
       soul essence, Nancy focuses on each of her clients inherent wisdom, recognizing
       the divine source. </p>
     <p>Gaining helpful insights from this perspective, her
       clients are able to heal at their core levels of being.</p>
   </div>
</div>

<div id="Weddings" style="background-image:url(images/RockPath.jpg);  background-repeat:no-repeat; height:650px; width:960px; color:#FFFFFF; position:absolute; top: 10px; left:10px;  ">

   <div class="content" style="width:362px; left:500px; top:100px;">
     <img src="images/WeddingRings.png" width="300" height="221" align="right" />
     <p><strong>Weddings</strong></p>
     <p>Whether your wedding ceremony is in a church, an indoor or
       outdoor venue or perhaps at a home, as your Wedding Officiant, I offer
      a highly personalized approach to your marriage ceremony. </p>
     <p>I'll write and
       perform a beautiful, custom wedding ceremony with personalized wedding
       vows that fully expresses your uniqueness as a couple - at a location
       of your choice that will be a cherished memory for a lifetime. </p>
   </div>
</div>



<div id="Memorials" style="background-image:url(images/RockPath.jpg);  background-repeat:no-repeat; height:650px; width:960px; color:#FFFFFF; position:absolute; top: 10px; left:10px;  ">

   <div class="content" style="width:475px; left:423px; top:122px;">
     <p><strong><img src="images/funeralFlowers.png" width="200" height="229" align="right" />Funerals &amp; memorials</strong>:  </p>
     <p>Facing the decision to create a farewell ceremony for a loved one can
       be a tender time, let ( Reverend )Nancy assist you in planning the funeral
       ceremony.  She can help you to create the farewell service that reflects
       the feelings and beliefs of your departed loved one.  </p>
     <p>With the help of your family and friends, Rev. Lindgren will carefully
       script a tribute of the character and life of your dearly departed.  This
       tribute will be a celebration of his/her life and your emotions towards
       your loved one.  Each funeral ceremony is unique to capture the very essence
       of his/her lasting spirit.  </p>
     <p>Saying farewell to the flesh is just the beginning of saying goodbye. Releasing
       his/her soul will be your way of letting go and this will make the journey
       of your dearly departed easier. A customized service can be nondenominational,
      interfaith, or civil.</p>
     <p>Nancy is an officiant who cares about what you are going through and
       cares about the journey of your loved one. </p>
   </div>
   </div>
<div id="Baptisms" style="background-image:url(images/RockPath.jpg);  background-repeat:no-repeat; height:650px; width:960px; color:#FFFFFF; position:absolute; top: 10px; left:10px;  ">

   <div class="content" style="width:267px; left:431px; top:105px;">
     <p align="left"><strong>Baptisms &amp; baby blessings</strong></p>
     <p>A child entering your
       life as a new member of your family is an exciting and sacred time. Whether
       by birth or adoption, this is a time to honor and celebrate such a blessing.
       Non-denominational, interfaith, and secular ceremonies witness and honor
       the role that parents, siblings, grandparents, godparents, friends and/or
       extended family will play in this new baby or child’s life, establishing
       a foundation for a rich and meaningful life.</p>
     <p>I work with you in a fun and caring manner to create and officiate at
       your baby’s unique celebration as you honor, celebrate and welcome your
       child into your family.</p>
   </div>
  <div class="content" style="width:212px; left:700px; top:100px;"><img src="images/baptism.png" alt="Non-Denominational Baptisms and Baby Blessings" width="233" height="350" /></div>
</div>



<div id="EmotFreedom" style="background-image:url(images/zenRocks.jpg);  background-repeat:no-repeat; height:650px; width:960px; color:#FFFFFF; position:absolute; top: 10px; left:10px;  ">

   <div class="content" style="width:508px; left:385px; top:85px;">
     <p><strong><img src="images/pastel-EFT-400.png" width="250" height="313" align="right" />Emotional Freedom Technique</strong></p>
     <p>The Emotional Freedom Techniques (EFT) is
       a group of powerful processes utilizing energy psychology that can help
       just about anyone to achieve genuine freedom from the emotions that have
       created problems in their lives. </p>
     <p>These techniques have been described
       by some as one of the most important breakthroughs in the area of psychology
       in this century. They have been used successfully with thousands of people
       with a broad range of difficulties.       </p>
     <p>EFT is becoming known to many amazed users as a "modern miracle." It can dramatically
       relieve emotional disturbances along with many physical symptoms. It often works
       in minutes, its results are usually long lasting, and side effects are almost
       always positive. </p>
     <p>&nbsp;</p>
   </div>
</div>


<div id="FlowerEss" style="background-image:url(images/zenRocks.jpg);  background-repeat:no-repeat; height:650px; width:960px; color:#FFFFFF; position:absolute; top: 10px; left:10px; ">

   <div class="content" style="width:392px; left:485px; top:100px;">
     <p><strong><img src="images/flowerEssense.png" width="400" height="267" />Flower Essence Therapy</strong></p>
     <p>Flower essence therapy is a term that names the practice of using flower
       essences in a consistent, purposeful way to experience emotional harmony
       and spiritual well-being. Flower essences can be used on their own or
       in conjunction with other healing modalities to support or change our
       emotional attitudes and ways of perceiving ourselves. They provide a language
       that helps us to understand our inner world and the ways in which we respond
       to life and life's situations. </p>
   </div>
</div>


<div id="CST" style="background-image:url(images/zenRocks.jpg);  background-repeat:no-repeat; height:650px; width:960px; color:#FFFFFF; position:absolute; top: 10px; left:10px; z-index:1;  ">
 <div class="content" style="width:450px; left:449px; top:90px">
       <p><strong><img src="images/3d-spine.png" width="225" height="250" align="right" />CranioSacral Therapy</strong> </p>
       <p>CST was pioneered and developed by osteopathic physician John Upledger.<br />
         <br />
         CST is a gentle, hands-on method of evaluating and enhancing the functioning
         of a physiological body system called the craniosacral system - comprised
         of the membranes and cerebrospinal fluid that surround and protect the
         brain and spinal cord. <br />
         <br />
         Using a soft touch generally no greater than 5 grams, or about the weight
         of a nickel, practitioners release restrictions in the craniosacral
         system to improve the functioning of the central nervous system.</p>
       <p>By complementing the body's natural healing processes, CST is increasingly
         used as a preventive health measure for its ability to bolster resistance
         to disease, and is effective for a wide range of medical problems associated
         with pain and dysfunction.</p>
    </div>
</div>



<div id="House" style="background-image:url(images/zenRocks.jpg);  background-repeat:no-repeat; height:650px; width:960px; color:#FFFFFF; position:absolute; top: 10px; left:10px;   ">

   <div class="content" style="width:392px; left:485px; top:115px;">
     <p><strong>House clearing</strong></p>
     <p> Sometimes a house can have negative energies. With Nancy’s acute sensitivities, she can sense where these negative energies are and clear the home. This clearing and blessing leaves the home feeling safe and peaceful.</p>
     <p><img src="images/house.png" width="400" height="267" /></p>
   </div>
</div>



<!--<div id="Medical" style="background-image:url(images/zenRocks.jpg);  background-repeat:no-repeat; height:650px; width:960px; color:#FFFFFF; position:absolute; top: 10px; left:10px;  ">

   <div class="content" style="width:406px; left:485px; top:185px;">
     <p><strong>Medical Intuition</strong></p>
     <p>Nancy scans & can see or sense into her clients body sometimes seeing  both healthy and challenged organs and systems of the body. She can see into and listen to the challenged areas of the body & focus healing energies for restoration, rejuvenation and balance. </p>
   </div>
  
</div> -->


<div id="Contact" style="background-image:url(images/waterDrops.jpg);  background-repeat:no-repeat; height:650px; width:960px; color:#FFFFFF; position:absolute; top: 10px; left:10px; ">

   <div class="content" style="width:600px; left:337px; top:85px;">
     <p><strong><img src="images/dove.png" width="373" height="450" align="right" /></strong></p>
     <p>&nbsp;</p><p>&nbsp;</p>
     <p><strong>Contact </strong></p>
     <p>Nancy Lindgren<br />
       Lyn-Lake Building<br />
       621 West Lake Street # 209<br />
       Minneapolis, MN 55408<br />
       612-868-2160<br />
      www.NancyLindgren.com</p>
    </div>
</div>



<div id="About" style="background-image:url(images/waterDrops.jpg);  background-repeat:no-repeat; height:650px; width:960px; color:#FFFFFF; position:absolute; top: 10px; left:10px; ">

   <div class="content" style="width:300px; left:437px; top:185px;">
     <p><strong>About Nancy Lindgren</strong></p>
     <p>Bio info here...</p>
   </div>
</div>
</div>
<!-- end apge wrap -->
</body>
</html>
