<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/HealingArts.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Minneapolis, Healing, Alternative Medicine - Nancy Lindgren - Complimentary
Healing Arts</title>
<!-- InstanceEndEditable -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Page').hide().fadeIn(3000);
    });
</script>

<link href="/assets/HealingArtsStyles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/assets/ddsmoothmenu.css" />
<script type="text/javascript" src="/assets/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "smoothmenu1", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})



</script>

<style type="text/css"></style>
<!-- InstanceBeginEditable name="head" -->
<script language="javascript">
$(document).ready(function(){
	$('#testimonials .slide');
	setInterval(function(){
		$('#testimonials .slide').filter(':visible').fadeOut(2000,function(){
			if($(this).next('li.slide').size()){
				$(this).next().fadeIn(2000);
			}
			else{
				$('#testimonials .slide').eq(0).fadeIn(2000);
			}
		});
	},2000);	
});	
</script>

<style type="text/css">
#testimonials {width: 300px;height: 58px;list-style-type: none; margin:0; padding:0
}
div#words {
	width: 300px;
	height: 58px;
	position:absolute;
	left:352px;
	top:580px;
	text-align:center
}
#testimonials .slide {}
blockquote {font-size: 18px;font-family: Georgia, "Times New Roman", Times, serif;color: #333;font-style: italic}
div#Page { background-image:url(/assets/ToriGate.jpg);}
</style>

<!-- InstanceEndEditable -->
</head>

<body >
<div id="page-wrap">
<div id="Page" >
<%= render "menu" %>

<div id="Content">

<!-- InstanceBeginEditable name="Content" -->


 <div class="content" style="width:722px; left:127px; top:80px;" align="center">
   <p class="titles"><em>Thank you for visiting my website.</em></p></div>
   
   <div class="content" style="width:322px; left:335px; top:290px;" align="center">
   <div class="cushycms"><p>Nancy Lindgren creates <br />
     a safe place for people of <br />
     all ages to release the stress <br />
     and imbalance carried in <br />
     the body &amp; mind. </p>
   <p>With her grounded <br />
     compassionate and supportive <br />
     approach, Nancy assists <br />
     her clients into a feeling<br /> 
     of freedom, harmony &amp; <br />
     balance.</p></div><!-- end cushy cms editable area-->
   <p class="style1">&nbsp;</p>
</div>

<div id="words">
	<ul id="testimonials">
    	<li class="slide">
        	<span class="titles">Release</span>        </li>
<li class="slide" style="display: none">
        	<span class="titles">Restore</span>        </li>
    	<li class="slide" style="display: none">
        <span class="titles">	Replenish</span>        </li>
        <li class="slide" style="display: none">
        	<span class="titles">Rejuvenate</span>        </li>
    </ul></div>


<!-- end content -->
   <!-- InstanceEndEditable --></div>

</div><!--end Content  div-->
<div id="contactinfo">Contact Nancy at the Lyn-Lake Building, 621 West Lake Street # 209 Minneapolis, MN 55408 &middot; 612-868-2160</div>

   </div><!-- end page wrap -->
  

</body>
<!-- InstanceEnd --></html>