<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/HealingArts.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Memorials and Funerals, New Age Ministry, Minneapolis, Healing, Alternative Medicine - Nancy Lindgren - Complimentary
Healing Arts</title>
<!-- InstanceEndEditable -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Page').hide().fadeIn(3000);
    });
</script>

<link href="styles/HealingArtsStyles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="styles/ddsmoothmenu.css" />
<script type="text/javascript" src="js/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "smoothmenu1", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})



</script>

<style type="text/css"></style>
<!-- InstanceBeginEditable name="head" -->
<style type="text/css">
div#Page { background-image:url(/assets/RockPath.jpg);}
</style>
<!-- InstanceEndEditable -->
</head>

<body >
<div id="page-wrap">
<div id="Page" >
<%= render "menu" %><!-- end navigation -->
<div id="Content">

<!-- InstanceBeginEditable name="Content" -->


   <div class="content" style="width:600px; left:323px; top:90px;">
     <div class="cushycms"><p class="titles"><strong>Funerals &amp; Memorials</strong>:  <strong><img src="/assets/angel.png" width="400" height="231" align="right" /></strong></p>
     <p>Facing the decision to create a farewell ceremony for a loved one can
       be a tender time, let ( Reverend )Nancy assist you in planning the funeral
       ceremony.  She can help you to create the farewell service that reflects
       the feelings and beliefs of your departed loved one.  </p>
     <p>With the help of your family and friends, Rev. Lindgren will carefully
       script a tribute of the character and life of your dearly departed.  This
       tribute will be a celebration of his/her life and your emotions towards
       your loved one.  Each funeral ceremony is unique to capture the very essence
       of his/her lasting spirit.  </p>
     <p>Saying farewell to the flesh is just the beginning of saying goodbye. Releasing
       his/her soul will be your way of letting go and this will make the journey
       of your dearly departed easier. A customized service can be nondenominational,
      interfaith, or civil.</p>
     <p>Nancy is an officiant who cares about what you are going through and
       cares about the journey of your loved one. </p></div><!--end cms -->
   </div>


<!-- InstanceEndEditable --></div>

</div><!--end Content  div-->
<%= render "footer" %>

   </div><!-- end page wrap -->
  

</body>
<!-- InstanceEnd --></html>