<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/HealingArts.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Minneapolis, Healing, Alternative Medicine - Nancy Lindgren - Complimentary
Healing Arts</title>
<!-- InstanceEndEditable -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Page').hide().fadeIn(3000);
    });
</script>

<link href="styles/HealingArtsStyles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="styles/ddsmoothmenu.css" />
<script type="text/javascript" src="js/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "smoothmenu1", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})



</script>

<style type="text/css"></style>
<!-- InstanceBeginEditable name="head" -->
<style type="text/css">
div#Page { background-image:url(/assets/waterDrop2.jpg);}
</style>
<!-- InstanceEndEditable -->
</head>

<body >
<div id="page-wrap">
<div id="Page" >
<%= render "menu" %><!-- end navigation -->
 
<div id="Content">

<!-- InstanceBeginEditable name="Content" -->


   <div class="content" style="width:260px; left:40px; top:120px;">
   <div class="cushycms">  <p class="titles"><strong>Mind</strong></p>
     <p>Know that your journey is supported,<br />
with care &amp; commitment, wherever you are on your path.</p>
     <p>Nancy is a compassionate listener who believes that we are all powerful
       and truly magnificent beings. For some people, this is difficult to believe,
       especially during times of challenge or strife. </p>
     <p>With her extensive training as a counselor and experience as a minister, she will assist you in better
       understanding yourself and help bring clarity to your issues. </p>
     <p>Nancy empowers you by seeing and acknowledging your authentic gifts.</p></div><!--end cms -->
   </div> <!-- content class-->

<!-- InstanceEndEditable --></div> 

</div><!--end Content  div-->
<div id="contactinfo">Contact Nancy at the Lyn-Lake Building, 621 West Lake Street # 209 Minneapolis, MN 55408 &middot; 612-868-2160</div>

   </div><!-- end page wrap -->
  </div> <!-- end page -->

</body>
<!-- InstanceEnd --></html>