<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script type="text/javascript" src="scriptaculous/lib/prototype.js"></script>
<script type="text/javascript" src="scriptaculous/src/scriptaculous.js?load=effects"></script>
<script src="scriptaculous/simple-slide-show.js" type="text/javascript"></script>
<style type="text/css">
#slide-images {
	
	/*display:block;*/
	margin:0px;
	padding:0px;
	/*width:400px;
	height:200px;*/
	right:0;
	top:0;
}
#slide-images li {
	position:absolute;
	display:block;
	list-style-type:none;
	margin:0px;
	padding:0px;
}
#slide-images li img {
	display:block;
	border: 0;
}
</style>
</head>

<body>
<div id="slide-show">
<ul id="slide-images">

<li>test one</li>

<li>test two</li>

<li>test three</li>

<li>four</li>

</ul>
</div>
</body>
</html>
