<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/HealingArts.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Minneapolis, Healing, Alternative Medicine - Nancy Lindgren - Complimentary
Healing Arts</title>
<!-- InstanceEndEditable -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Page').hide().fadeIn(3000);
    });
</script>

<link href="styles/HealingArtsStyles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="styles/ddsmoothmenu.css" />
<script type="text/javascript" src="js/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "smoothmenu1", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

ddsmoothmenu.init({
	mainmenuid: "smoothmenu2", //Menu DIV id
	orientation: 'v', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu-v', //class added to menu's outer DIV
	//customtheme: ["#804000", "#482400"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>

<style type="text/css"></style>
<!-- InstanceBeginEditable name="head" -->
<link href="styles/screen.css" rel="stylesheet" type="text/css" media="screen" />

<script type="text/javascript">
    $(document).ready(function () {
        $('#Page').hide().fadeIn(3000);
    });
</script>

	<script type="text/javascript" src="js/easySlider1.7.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){	
			$("#slider").easySlider({
				auto: true, 
				continuous: true
			});
		});	
	</script>
    
<style type="text/css">
div#Page { background-image:url(images/waterDrops.jpg);}
</style>

<!-- InstanceEndEditable -->
</head>

<body >
<div id="page-wrap">
<div id="Page" >
<div id="header">
<div id="smoothmenu1" class="ddsmoothmenu">
		<ul >
    	<li><a href='Body.html' >Body</a></li>
        
        <li><a href="Mind.html" >Mind</a></li>
         
         <li><a href="Spirit.html" >Spirit</a></li>
      
      <li><a href="#">Energy Healing</a>
        <ul >
       	 <li><a href='EmotionalFreedomTechnique.html' >Emotional Freedom Technique</a></li>
   		  <li><a href='FlowerEssenceTherapy.html'>Flower Essence Therapy</a></li>
   		  <li><a href='CranioSacralTherapy.html'>CranioSacral Therapy-CST</a></li>
          <li><a href='HouseClearingHouseBlessing.html'>House clearing</a></li>
        </ul></li>
       
       <li><a href="#">Ministry</a>
       	<ul >
       		<li><a href='Weddings.html'>Weddings</a></li>
          <li><a href='Memorials.html'>Funerals & memorials</a></li>
          <li><a href='Baptisms.html'>Baptisms & baby blessings</a></li>
       	</ul></li>
       
       <li><a href="Testimonials.html" >Testimonials</a></li>
       <li><a href="AboutNancyLindgren.html">About</a></li>
    </ul>
  </div>
<!-- end navigation -->
</div><!-- end header --> 
<div id="Content">

<!-- InstanceBeginEditable name="Content" -->
<!--the content goes here -->
<div id="container">

<div id="content">
	
		<div id="slider">
			<ul>				
				<li><p>&quot;Nancy has been an extremely positive presence in my life, helping me during
    some of my most difficult periods of emotional and spiritual crisis over
    the past few years triggered by stresses such as divorce. In such times,
    its hard to know who to turn to or who to trust. </p>
  <p>I can wholeheartedly recommend
    Nancy as a wise, kind, non-judgemental and professional counsellor and healer.
    Her approach, a mix of talk based and energetic therapy, is pragmatic and
    effective. The exact mechanism of energy healing is a mystery to me, and
    it sits outside traditional approaches to mental or emotional suffering.
    However, at least personally, it has been highly effective often with immediate
    results. Emotional blockages are opened up, and damaging trapped energy in
    ones system seems to be released, often in unison with symbolic insights
    within my minds eye. It works on a deeper or more holistic level of ones
    being than intellectual insights alone. It does not stop the pain of grief,
    but it will help one express it and let it go. </p>
  <p>I believe Nancy is a natural
    healer - she has particular sensitivities or abilities that are uncommon,
    and its probably her life calling to sincerely help the rest of us heal from
    the aftermath of difficult and traumatic experiences.&quot;<em> - James, St. Paul</em></p></li>
    
				<li>

  <p>&quot;I have a rare genetic disorder for which there is no known cure. It
    results in easy anaphylaxis, bone pain, swelling in the spleen, liver,
    and lymph nodes. I experience persistent fatigue and pain. Because the disorder
    is so hard on the body it most often leads to other systems in the body breaking
    down, and frequent hospital trips and stays are the norm, not the exception.
    In 2004 and early 2005 I went into anaphylactic shock 20 times. </p>
  <p>In 2005 Nancy became an on going part of my care team, I see her every other
    week. I have not been in the hospital since 2005 and I have not experienced
    the deterioration that is so common with this disorder. Nancy has the ability
    to help my body relax and release much of the stress that accumulates. Her
    contribution to my quality of life has been immeasurable. I am deeply grateful
    for her healing abilities and her presence in my life.&quot; <br />
    <em>- Jeanne,
    Minneapolis</em><br />
  </p>
</li>
<li>

  <p>&quot;For many years I've taught meditation and, as a result, become
    very sensitive to energy plus fussy about who I'll let do energy work on
    me. Nancy is someone I trust. Her energy is good, clean, and comes from a
    great love of Spirit. Her sensitivity has been cultivated and deepened overtime
    and I always come away from sessions with her feeling more the way I ought
    to; balanced, filled, and clear. I never hesistate to recommend Nancy to
    those seeking energy healing because I know her heart is in the right place
    and her capacity to deliver is very sound.&quot; <em>- Alan P. Minneapolis</em><br />
  </p>
</li>		
			</ul>
		</div>

	</div>

</div>
<!-- InstanceEndEditable --></div>

</div><!--end Content  div-->
<div id="contactinfo">Contact Nancy at the Lyn-Lake Building, 621 West Lake Street # 209 Minneapolis, MN 55408 &middot; 612-868-2160</div>

   </div><!-- end page wrap -->
  

</body>
<!-- InstanceEnd --></html>
