<div id="smoothmenu1" class="ddsmoothmenu">
    <ul >
      <li><a href='Body' >Body</a></li>
        
        <li><a href="Mind" >Mind</a></li>
         
         <li><a href="Spirit" >Spirit</a></li>
      
      <li><a href="#">Energy Healing</a>
        <ul >
         <li><a href='EmotionalFreedomTechnique' >Emotional Freedom Technique</a></li>
        <li><a href='FlowerEssenceTherapy'>Flower Essence Therapy</a></li>
        <li><a href='CranioSacralTherapy'>CranioSacral Therapy-CST</a></li>
          <li><a href='HouseClearingHouseBlessing'>House clearing</a></li>
        </ul></li>
       
       <li><a href="#">Ministry</a>
        <ul >
          <li><a href='Weddings'>Weddings</a></li>
          <li><a href='Memorials'>Funerals & memorials</a></li>
          <li><a href='Baptisms'>Baptisms & baby blessings</a></li>
        </ul></li>
       
       <li><a href="Testimonials" >Testimonials</a></li>
       <li><a href="AboutNancyLindgren">About</a></li>
    </ul>
  </div>
<!-- end navigation -->
